<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>registroServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.registroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registroServlet</servlet-name>
        <url-pattern>/registroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>crearPublicacionServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.crearPublicacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearPublicacionServlet</servlet-name>
        <url-pattern>/crearPublicacionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>busquedaPublicacionServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.busquedaPublicacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>busquedaPublicacionServlet</servlet-name>
        <url-pattern>/busquedaPublicacionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PerfilUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.PerfilUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilUsuarioServlet</servlet-name>
        <url-pattern>/PerfilUsuarioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActualizarPerfilServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.ActualizarPerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarPerfilServlet</servlet-name>
        <url-pattern>/ActualizarPerfilServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarPublicacionServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.EditarPublicacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarPublicacionServlet</servlet-name>
        <url-pattern>/EditarPublicacionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActualizarPublicacionServlet</servlet-name>
        <servlet-class>com.mycompany.pw1.servlets.ActualizarPublicacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarPublicacionServlet</servlet-name>
        <url-pattern>/ActualizarPublicacionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
